body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 5em;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}


.color-azul {
  color: #3b89c8;
}

.color-rojo {
  color: #e14f57;
}

.color-amarillo {
  color: #f1cc4a;
}

.color-verde {
  color: #4db77d;
}

.containerRedes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-apps{
  text-align: center;
}

.footer {
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hover-azul {
  color: #125b96;
  transition: all 0.3s ease-out;
}

.hover-azul:hover {
  color: #4f92c9;
}

h1 {
  text-align: center;
}

.imgEvento {
  display: none;
}

p{
  text-align: justify;
}

.redes {
  width: 30px;
  height: auto;
  margin-right: 15px;
}
.tamaño-apps{
  width: 40%;
}


/* media queries */

@media screen and (min-width: 992px) {
  body {
    padding-bottom: 3em;
  }
  .container-apps div{
    display: inline;
  }

  h1 {
    margin: 0 0 15px 0;
  }

  .zoom{
    transition: 0.2s
  }

  .zoom:hover{
    transform: scale(1.04);
  }
  
  .imgEvento {
    display: block;
  }
  .tamaño-contenido {
    height: calc(100vh - 165px);
  }
  .contenido-principal {
    height: 100%;
    align-items: center;
  }
}

@media screen and (width: 1024px) and (height: 768px) {
  body {
    padding-bottom: 5em;
  }
 h1{
  margin: 10px 0;
 }
}


@media screen and (width: 1024px) and (height: 600px) {
  body {
    padding-bottom: 5em;
  }
  .tamaño-contenido {
    height: auto;
  }
  .margint-5 {
    margin-top: 30px;
  }
}
